UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapapp.ccassign.rahackya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapapp.ccassign.rahackya.com/" name="UserServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://soapapp.ccassign.rahackya.com/" schemaLocation="http://localhost:8080/soapapp/UserService?xsd=1"/>
</xsd:schema>
</types>
<message name="showAll">
<part name="parameters" element="tns:showAll"/>
</message>
<message name="showAllResponse">
<part name="parameters" element="tns:showAllResponse"/>
</message>
<message name="show">
<part name="parameters" element="tns:show"/>
</message>
<message name="showResponse">
<part name="parameters" element="tns:showResponse"/>
</message>
<message name="destroyUser">
<part name="parameters" element="tns:destroyUser"/>
</message>
<message name="destroyUserResponse">
<part name="parameters" element="tns:destroyUserResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<portType name="UserService">
<operation name="showAll">
<input wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/showAllRequest" message="tns:showAll"/>
<output wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/showAllResponse" message="tns:showAllResponse"/>
</operation>
<operation name="show">
<input wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/showRequest" message="tns:show"/>
<output wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/showResponse" message="tns:showResponse"/>
</operation>
<operation name="destroyUser">
<input wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/destroyUserRequest" message="tns:destroyUser"/>
<output wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/destroyUserResponse" message="tns:destroyUserResponse"/>
</operation>
<operation name="sayHello">
<input wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="editUser">
<input wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://soapapp.ccassign.rahackya.com/UserService/editUserResponse" message="tns:editUserResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="show">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="destroyUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserServiceService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/soapapp/UserService"/>
</port>
</service>
</definitions>